body {
    margin: 0px;
    background-color: #F5F8FF;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* navbar style */
.container {
    max-width: 1140px;
    margin: auto;
}

.banner-section {
    background: url(./Assets/Hero-bg.png) lightgray 50% / cover no-repeat;
}

#navbar {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    padding: 12px 36px;
    border-radius: 10px;
    border: 0px;
    background: #4E47FF;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.primary-button:hover {
    background: rgb(235, 185, 5);
    transform: scale(1.02);
}

h1 {
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin: 0px;
    line-height: normal;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    padding: 208px 0px 200px 0px;
}


/* Action Section Style */
h2 {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.acction-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 0px;
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action-container p {
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px;
}

.action-img {
    border-radius: 48px;
}

/* Productive section Style */
.productive-wrapper {
    margin-bottom: 137px;
    display: flex;
    padding: 50px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
}

h3 {
    color: #252432;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
}

.productive-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 158px;
    align-self: stretch;
}

.produvtive-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count {
    color: var(--Primary-Color, #4E47FF);
    margin: 0px;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.count-title {
    color: rgba(0, 0, 0, 0.50);
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

/* ready-to-focus Style */
.ready-to-focus-wrapper {
    display: flex;
    padding: 71px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
    background: #FFF;
    margin-bottom: 92px;
}

.mid-font {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.ready-to-focus-wrapper p {
    color: rgba(0, 0, 0, 0.50);
    margin: 0px;
}

#ready-to-focus-img {
    border-radius: 48px;
}

/* Contact Section Style */
.contact-wrapper {
    display: flex;
    padding: 71px 0px;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 40%;
}

.big-font {
    color: #000;
    font-size: 97px;
    font-weight: 700;
    line-height: 120%;
}

label {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}

.input-block {
    display: flex;
    flex-direction: column;

}

input {
    display: flex;
    padding: 20px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
}

.message-label {
    margin-top: 20px;
}

textarea {
    padding: 20px 32px;
    color: rgba(0, 0, 0, 0.50);
    height: 135px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    width: 100%;
}

.submit-btn {
    width: 520px;
    margin-top: 20px;
}

/* contact section wrapper */
.footer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 104px 455px 103px 454px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    gap: 20px;
}

.footer-image {
    width: 290px;
}

.footer-wrapper p {
    color: #8987A1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

li {
    list-style: none;
    color: #8987A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}